<div id="surmanset">
  <%= erb(:manset, :layout=>false, :locals=>{:mansetler => @sur}) %>
</div>
<hr />
<div id="manset">
  <%= erb(:manset, :layout=>false, :locals=>{:mansetler => @mansetler}) %>
</div>

