<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="app.css" rel="stylesheet" type="text/css" />
    <title>Düzgün Hürriyet</title>
  </head>
  <body>
    <div id="contents">
      <h1>Düzgün Hürriyet</h1>
      <hr />
      <ul>
        <% for manset in @mansetler %>
          <li>
            <a href="<%=manset.link%>">
              <% if manset.text %>
                <h3><%= manset.text %></h3>
                <img src="<%= manset.img %>" />
              <% else %>
                <img class="onlyphoto" src="<%= manset.img %>">
              <% end %>
            </a>
          </li>
        <% end %>
      </ul>
      <br style="clear:both;" />
    </div>
  </body>
</html>

