<ul>
  <% for manset in mansetler %>
    <li>
      <a href="/haber/<%=URI.escape(manset.link)%>">
        <% if manset.text %>
          <h3><%= manset.text %></h3>
          <img src="<%= manset.img %>" />
        <% else %>
          <img class="onlyphoto" src="<%= manset.img %>">
        <% end %>
      </a>
    </li>
  <% end %>
</ul>
<br style="clear:both;" />

