<ul>
  <% for manset in mansetler %>
    <li>
      <a href="/haber/<%=CGI.escape(manset.link)%>">
          <img class="onlyphoto" src="<%= manset.img %>">
      </a>
    </li>
  <% end %>
</ul>
<br style="clear:both;" />

