@font-face {
  font-family: "MgOpen Cosmetica";
  src: local("MgOpenCosmetica Bold"), url("MgopenCosmeticaBold.ttf");
  font-weight: bold;
}

h1{
  font-family: "MgOpen Cosmetica", "Optima", "Helvetica", sans-serif;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 4px;
}

hr{
  color: #000;
  background-color: #000;
  height: 5px;
  width: 90%;
}

ul{
  list-style-type: none;
}

.onlyphoto{
  position: relative;
  float: left;
}

.haber{
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

#contents{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  padding-bottom: 3%;
  background-color: #fff;
  border-width: 5px;
  border-style: solid;
  border-color: #000;
}

a img{
  border: none;
}

body{
  background-color: #eee;
}


